build
.build
*.mode1v3
*.pbxuser
*.pyc
*.pyo
__pycache__
*.dat
AntiCrack-InfoScanner-Result.h
*~
.DS_Store
._*
.smbdelete*
.idea
.swiftpm
/.build
/Packages
project.xcworkspace
xcuserdata
xcshareddata
DerivedData
Package.resolved
